.bg{
    background: url("../images/bg.jpg") no-repeat;
    width:100%;
    height: 100vh;
    
    
}
.form-cont{
    border: 1px solid;
    padding: 50px 40px;
    margin-top: 10vh;
    -webkit-box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
}
.form-contianer{
    border: 1px solid;
    padding: 50px 40px;
    margin-top: 20vh;
    -webkit-box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.75);
}
.btn{
    margin-top: 2px;
}
#register{
    display: none;
}
